body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap:  20px 100px;
    text-align: center;
}

container div { 
    border: 1px solid black;
    display: none;
}

container div:nth-child(1),
container div:nth-child(2),
container div:nth-child(3) {
    display: inline-block
}

input {
    width: 200px;
    margin: 20px;
    cursor: pointer;
}

